<footer class="section-container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-xs-10 ">
            <div class="social-container ">
                <a href="https://twitter.com/pyconcolombia" target="_blank">
                    <div class="social-icon ">
                        <i class="fab fa-twitter fa-lg"></i>
                    </div>
                </a>
                <a href="https://www.facebook.com/pyconcolombia" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/pyconcolombia/" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-instagram fa-lg"></i>
                    </div>
                </a>
                <a href="https://www.youtube.com/pyconcolombia" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-youtube fa-lg"></i>
                    </div>
                </a>
                <a href="https://github.com/pyconcolombia" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-github-alt fa-lg"></i>
                    </div>
                 </a>
            </div>
        </div>
    </div> 

    <div class="row">
            <p style="font-size: 18px;">© 2022 <a href="https://python.org.co" target="blank_">Python Colombia.</a> All rights reserved.<br><a href="/Code of conduct/codigo-de-conducta.html">Code of Conduct - </a> <a href="mailto:hello@pycon.co"> hello@pycon.co</a></p>
    </div>

    <div class="container-fluid">
            <img class="planet-footer" src="img/ice-universe.webp" alt="" style="margin: auto">
    </div>
    
</footer>